#planning {
    background-color: black;
    color: #fff;
    padding: 3%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#planning h2 {
    text-align: center;
}

#planning_content {
    overflow-x: auto;
}

input {
    color: #fff;
    font-size: 20px;
}

table {
    padding: 4% 0;
    width: 100%;
}

td {
    border: 1px solid #ccc;
    border-collapse: collapse;
    height: 20px;
    background-color: #0a0a0a;
    color: #fff;
    font-size: 10px;
    cursor: pointer;
}

th {
    background-color: #1d1d1d;
    color: #CD7F32;
    border: 1px solid #ccc;
    border-collapse: collapse;
}

#heureCreneau {
    display: inline;
    width: auto;
}

.selected {
    background-color: #CD7F32;
}

#error_msg {
    color: #f00;
    display: none;
}

#ok_msg {
    display: none;
}