/*----- head -------*/

#head {
    background: url('./chaise.jpg') center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 330px;
}

#head_overlay {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

#head h2 {
    font-size: 25px;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 7px 15px;
}

#head span {
    font-size: 35px;
    font-weight: 700;
}


/*------ head -------*/


/*----- formulaire -----*/

#formulaire {
    background-color: #000;
    color: #fff;
    padding: 5%;
    text-align: center;
}

input {
    display: inline-block;
    padding: 3% 0;
}

label {
    display: inline-block;
    text-align: left;
    width: 80%;
}

input[type=file] {
    display: inline-block;
}

#formulaire form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 5%;
}

input,
textarea {
    background-color: #0A0A0A;
    width: 100%;
    margin: 1% 0;
    border: none;
    color: #fff;
}

input[type=submit] {
    display: inline-block;
    width: 20%;
    padding: 1%;
    color: #CD7F32;
    cursor: pointer;
    border: 1px solid #CD7F32;
    transition: all 0.1s linear;
}

input[type=submit]:hover {
    display: inline-block;
    color: #000;
    cursor: pointer;
    background-color: #CD7F32;
}


/*----- formulaire -----*/

@media (min-width: 768px) and (max-width: 1199px) {
    #formulaire form {
        text-align: left;
        width: 50%;
    }
    #formulaire {
        padding: 3%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 1200px) {
    #formulaire form {
        width: 40%;
        text-align: left;
    }
    #formulaire {
        padding: 3%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}